<a href="https://colab.research.google.com/github/aj225patel/python-fundamentals/blob/main/advanced/asterisk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Asterisc in Python**

## Multiplication and power operations

In [1]:
result = 5 * 7
print(result)

35

In [2]:
result = 2 ** 4
print(result)

16

## Creation of list, tuple, or string with repeated elements

In [3]:
zeros = [0] * 10
print(zeros)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [4]:
zeros = [0, 1] * 10
zeros

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [5]:
zeros = (0, 1) * 10
zeros

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [7]:
st = "AB" * 10
st

'ABABABABABABABABABAB'

## ***args** , **kwargs , and keyword-only arguments

* Use *args for variable-length arguments
* Use **kwargs for variable-length keyword arguments
* Use *, followed by more function parameters to enforce keyword-only arguments

In [19]:
def my_function(*args, **kwargs):
    for arg in args:
        print(arg)
    for key in kwargs:
        print(key, kwargs[key])

my_function("Hey", 3, [0, 1, 2], name="Alex", age=8)

# Parameters after '*' or '*identifier' are keyword-only parameters and may only be passed using keyword arguments.
def my_function2(name, *, age):
    print(name)
    print(age)

# my_function2("Michael", 5) --> this would raise a TypeError
my_function2("Michael", age=5)

Hey
3
[0, 1, 2]
name Alex
age 8
Michael
5

## Unpacking for function arguments

* Lists/tuples/sets/strings can be unpacked into function arguments with one * if the length matches the parameters.
* Dictionaries can be unpacked with two ** if the length and the keys match the parameters.

In [20]:
def foo(a, b, c):
    print(a, b, c)

# length must match
my_list = [1, 2, 3]
foo(*my_list)

my_string = "ABC"
foo(*my_string)

# length and keys must match
my_dict = {'a': 4, 'b': 5, 'c': 6}
foo(**my_dict)

1 2 3
A B C
4 5 6

## Unpacking containers

> Unpack the elements of a list, tuple, or set into single and multiple remaining elements. Note that multiple elements are combined in a list, even if the unpacked container is a tuple or a set.

In [9]:
a = [1, 2, 3, 4, 5, 6]
*beginning, last = a
print(f"beginning = {beginning}\nlast = {last}")

beginning = [1, 2, 3, 4, 5]
last = 6

In [11]:
a = (1, 2, 3, 4, 5, 6)
*beginning, last = a   # unpacking always returns a list
print(f"beginning list = {beginning}\nlast = {last}")

beginning list = [1, 2, 3, 4, 5]
last = 6

In [12]:
a = [1, 2, 3, 4, 5, 6]
beginning, *last = a
print(f"beginning = {beginning}\nlast = {last}")

beginning = 1
last = [2, 3, 4, 5, 6]

In [13]:
a = [1, 2, 3, 4, 5, 6]
beginning, *middle, last = a
print(f"beginning = {beginning}\nmiddle = {middle}\nlast = {last}")

beginning = 1
middle = [2, 3, 4, 5]
last = 6

In [15]:
a = [1, 2, 3, 4, 5, 6]
beginning, *middle, secondLast, last = a
print(f"beginning = {beginning}\nmiddle = {middle}\nsecondLast = {secondLast}\nlast = {last}")

beginning = 1
middle = [2, 3, 4]
secondLast = 5
last = 6

## Merge iterables into a list / Merge dictionaries

> This is possible since Python 3.5 thanks to PEP 448 (https://www.python.org/dev/peps/pep-0448/).

In [16]:
my_tuple = (1, 2, 3)
my_list = [4, 5, 6]

new_list = [*my_tuple, *my_list]
new_list

[1, 2, 3, 4, 5, 6]

In [17]:
my_tuple = (1, 2, 3)
my_set = [4, 5, 6]

new_set = [*my_tuple, *my_set]
new_set

[1, 2, 3, 4, 5, 6]

In [18]:
dict_a = {'a':1, 'b':2}
dict_b = {'c':3, 'd':4}

new_dict = {**dict_a, **dict_b}
new_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}