<a href="https://colab.research.google.com/github/aj225patel/python-fundamentals/blob/main/advanced/itertools.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**iterttols in Pyhon**

## product

> Cartesian Product

In [ ]:
from itertools import product

In [5]:
a = [1, 2]
b = [3]

# It gives cartesian product
prod = product(a,b)
list(prod)

[(1, 3), (2, 3)]

In [6]:
# we can repeat elements two times in cartesian product
prod2 = product(a,b, repeat=2)
list(prod2)

[(1, 3, 1, 3), (1, 3, 2, 3), (2, 3, 1, 3), (2, 3, 2, 3)]

## permutations

> All possible arrangements of an input collection **(order of selection matters)**

In [7]:
from itertools import permutations

In [11]:
a = [1, 2, 3]

per = permutations(a)
list(per)

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [12]:
# all permutations having length of 2
per2 = permutations(a, 2)
list(per2)

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

## Combinations

> selecting objects from collections, in such a way that the order of the **objects does not matter**

In [17]:
from itertools import combinations, combinations_with_replacement

In [18]:
a = [1, 2, 3, 4]

comb = combinations(a, 2)    # 4C2
print(f"combinations: {list(comb)}")

comb_wr = combinations_with_replacement(a,2)
print(f"combinations with replacements: {list(comb_wr)}")

combinations: [(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]
combinations with replacements: [(1, 1), (1, 2), (1, 3), (1, 4), (2, 2), (2, 3), (2, 4), (3, 3), (3, 4), (4, 4)]

## accumulation

> Return series of accumulated sums (or other binary function results).

In [23]:
from itertools import accumulate
import operator

In [22]:
a = [1, 2, 3, 4]

acc = accumulate(a)
print(f"list a = : {a}")
print(f"accumulated list: {list(acc)}")

list a = : [1, 2, 3, 4]
accumulated list: [1, 3, 6, 10]

In [29]:
acc_mul = accumulate(a, func= operator.mul)
print(f"accumulated multiplication list: {list(acc_mul)}")

accumulated multiplication list: [1, 2, 6, 24]

In [30]:
b = [1, 2, 5, 3, 6, 4, 7, 3]

acc_max = accumulate(b, func=max)    # commulative maximum
print(f"accumulated max list: {list(acc_max)}")

accumulated max list: [1, 2, 5, 5, 6, 6, 7, 7]

## Groupby

> make an iterator that returns consecutive keys and groups from the iterable

In [31]:
from itertools import groupby

In [32]:
a = [1, 2, 3, 4]

# def smaller_than_three(x):
#   return x < 3

# group_obj = groupby(a, key= smaller_than_three) # we can also use lambda (one liner func) function for cleaner code

group_obj = groupby(a, key= lambda x: x < 3)   # [1, 2] < 3 so they're group together, [3, 4] > 3 so they're group together

for key, value in group_obj:
  print(key, list(value))

True [1, 2]
False [3, 4]

In [35]:
persons = [{'name': 'Ajay', 'age': 18}, {'name': 'Jenny', 'age': 18}, {'name': 'Vraj', 'age': 20}, {'name': 'Dev', 'age': 24},
           {'name': 'Mansi', 'age': 16}]

group_obj = groupby(persons, key= lambda x: x['age'])

for key, value in group_obj:
  print(key, list(value))

18 [{'name': 'Ajay', 'age': 18}, {'name': 'Jenny', 'age': 18}]
20 [{'name': 'Vraj', 'age': 20}]
24 [{'name': 'Dev', 'age': 24}]
16 [{'name': 'Mansi', 'age': 16}]

## count, cycle, repeat

In [39]:
from itertools import count, cycle, repeat

In [40]:
for i in count(10):
  print(i)
  if i==15:
    break

10
11
12
13
14
15

In [42]:
a = [1, 2, 3]

cnt = 0
for i in cycle(a):
  if cnt == 10:
    break
  print(i)
  cnt += 1

1
2
3
1
2
3
1
2
3
1

In [43]:
for i in repeat(1, 5):   # repeat 1 five times
  print(i)

1
1
1
1
1