<a href="https://colab.research.google.com/github/aj225patel/python-fundamentals/blob/main/advanced/lambda_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lambda Functions**

> One liner functions for cleaner code

In [1]:
add10 = lambda a: a + 10

print(add10(20))

30

In [3]:
mul = lambda x, y: x * y

print(mul(10, 9))

90

In [4]:
points2D = [(1,2), (15,1), (5,-1), (10, 4)]

sorted_points2D = sorted(points2D)   # sorted by first element in the tuple by default

print(sorted_points2D)

[(1, 2), (5, -1), (10, 4), (15, 1)]

In [6]:
# sorted by second element in the tuple by specifying the key function (custom)
sorted_points2D = sorted(points2D, key = lambda x: x[1])
print(f"sorted by second element: {sorted_points2D}")

sorted_points2D_bysum = sorted(points2D, key = lambda x: x[0] + x[1])
print(f"sorted by sum of elements: {sorted_points2D_bysum}")

sorted by second element: [(5, -1), (15, 1), (1, 2), (10, 4)]
sorted by sum of elements: [(1, 2), (5, -1), (10, 4), (15, 1)]

## lambda function with map() function

> map(func, *iterables) --> map object

In [9]:
a = [1, 2, 3, 4]

b = map(lambda x: x*2, a)
print(f"b = {list(b)}")

# OR

c = [i*2 for i in a]    # list comprehension, more simple, clean and readable
print(f"c = {c}")

b = [2, 4, 6, 8]
c = [2, 4, 6, 8]

## lambda function with filter() function

> filter(function or None, iterable) --> filter object

In [13]:
# filter out only even numbers from the list
a = [1, 2, 3, 4, 5, 6]

b = filter(lambda x: x % 2 == 0, a)
print(f"b = {list(b)}")

# OR using List Comprehension

c = [i for i in a if i % 2 == 0]
print(f"c = {c}")

b = [2, 4, 6]
c = [2, 4, 6]

## lambda function with reduce() function

> reduce(function, iterable[, initial]) -> value

In [15]:
from functools import reduce

In [16]:
a = [1, 2, 3, 4]

prod_a = reduce(lambda x, y: x*y, a)     # 1 * 2 * 3 * 4 = 24
prod_a

24